$home-width: 1920px;
$home-max-width: 1920px;
// $home-height: 1004px;
$home-height: 920px;
$home-max-height: 2000px;
$header-height: 86px;
$content-height: calc(#{$home-height} - #{$header-height});

$left-wing-width: 400px;
$right-wing-width: 384px;

$main-blue: #00a5bd;