@import '../../../styles/common.scss';
@import '../../../styles/base.scss';

.main-header {
    background-color: #fff;
    // border-bottom: 1px solid lightgray;
    // opacity: 0.16;
//   background-color: #6e8093;
    border-bottom: 1px solid rgba(108,126,146,0.38);
    position: relative;
    overflow: hidden;

    .user-name {
        display: inline;
        //position: absolute;
        min-width: 228px;
        min-height: 64px;
        font-family: 'LexiSaebom', sans-serif;
        pointer-events: none;
        input {
            text-align: center;
        }
        margin-left: 24px;
    }
    .pc-name {
        display: inline;
        //position: absolute;
        min-width: 230px;
        min-height: 64px;
        input {
            text-align: center;
        }
        margin-left: 24px;
    }
    .logo {
        display: inline;
        //position: absolute;
        top: 10px;
        left: 18px;
        min-width: 82px;
        min-height: 64px;
        margin-left: 12px;
        justify-content: center;
        align-items: center;
        background-image: url('../../../public/images/flowork_logo.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    .window-size-slider {
      min-width: 240px;
      max-width: 240px;
      padding-top: 8px;
      margin-left: 24px;
      margin-right: 24px;
    }
    .setting {
      display: inline;
      //position: absolute;
      width: 100px;
      height: 64px;
    }
}