@import '../../../styles/common.scss';
@import '../../../styles/base.scss';

.playground-template {
    //width: 800px;
    //height: 450px;
    display:flex;
    flex-direction: column;
    position: relative;

    .playground-top {
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
        // padding: 10px 20px 0 10px;
        height: 62px;
        // background-color: #fff;
        background-color:#d7e4ec;

    }
    .body {
        position: relative;
        display: block;
        padding-top: 10px;
        overflow: auto;
        background-color:#d7e4ec;
        height: calc(100% - 62px);

        // flex-direction: column;

        .date-list-wrapper {
            width: calc(100% - 20px);
            // overflow: auto;
        }
    }

    .trash {
        position: absolute;
        top: 70px;
        right: 32px;
        // background-color: red;
        width: 55px;
        height: 55px;
        border-radius: 75px;
        background-color: #344b64;
        overflow: hidden;
        box-shadow: 1px 5px 6px 1px rgba(50, 50, 50, 0.75);

    }
    .playground-ads {

    }
}
